html, body {
  width:  95%;
  height: 95%;
  margin: 0px;
  font-family: 'Quattrocento', serif;
  font-size: 14px;
}

a {
    color: rgb(45, 120, 80);
}

h1 {
    font-size: 46px;
    margin-bottom: 0px;
}

h2 {
    font-size: 18px;
}

#title {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(230,230,230,0.5);
    text-align: center;
    width: 100%;
	height: 120px;
}

#container {
	border: 1px solid black;
	margin: 120px auto auto auto;
	width: 512px;
	height: 512px;
}

.withspace {
  padding: 5px;
}

.code {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}

pre.code {
    margin: 0px;
}

#controllers {
	float: left;
    background-color: rgba(230,230,230,0.7);
	width: 280px;
    padding: 20px;
}

#data {
	float: right;
	background-color: rgba(230,230,230,0.7);
	width: 280px;
    padding: 20px;
}

button {
	padding: 2px;
	margin: 5px;
}

#panel {
    padding: 15px;
}

#slider {
    width: 100px;
}

#helptext {
    padding-left: 25px;
    padding-bottom: 10px;
}

.help_label  {
    position: relative; 
    padding-right: 6px;
    width: 7em; 
    float: left;
    text-align: right;
}

.eb_label  {
    position: relative; 
    padding-right: 6px;
    width: 7em; 
    float: left;
    text-align: right;
}

.eb_span  {
    position: relative;
    top: -6px;
    font-family: "Courier New", Courier, monospace;
    font-size: 13px;
}
